/* Start Global Rules */
:root {
  --main-color: #564ccf;
  --secondary-color: #8284ff;
  --thrid-color: #d7d7ff;
  --white-color: white;
  --bg-drak: #0c0f21;
  --bg-cards-color-dark: #313156;
  --padding: 100px;
  --padding-bottom: 100px;
  --main-transition: 0.5s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
body.eng {
  direction: ltr;
}
.dark {
  color: white;
  background-color: var(--bg-drak);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
button:disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}
.main-title {
  text-align: center;
}
.main-title .title {
  color: var(--main-color);
  font-size: 40px;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .main-title .title {
    font-size: 25px;
  }
}
.main-title .pargraph {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .main-title .pargraph {
    font-size: 18px;
  }
}
/* End Global Rules */
/* Start Loader Section */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}
.dark .loader {
  background-color: var(--bg-drak);
}
.loader .container-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader .logo h3 {
  font-size: 36px;
}
.loader .logo i {
  font-size: 36px;
}
.loaderSection .topLoader,
.loaderSection .bottomLoader {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--white-color);
  z-index: 999;
  transition: var(--main-transition);
}
.loaderSection .topLoader {
  top: 0;
}
.loaderSection .topLoader.open {
  transform: translateX(200%);
}
.loaderSection .bottomLoader {
  bottom: 0;
}
.loaderSection .bottomLoader.open {
  transform: translateX(-200%);
}
.gegga {
  width: 0;
}
.snurra {
  filter: url(#gegga);
}
.stopp1 {
  stop-color: var(--main-color);
}
.stopp2 {
  stop-color: var(--secondary-color);
}
.halvan {
  animation: Snurra1 10s infinite linear;
  stroke-dasharray: 180 800;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}
.strecken {
  animation: Snurra1 3s infinite linear;
  stroke-dasharray: 26 54;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}
@keyframes Snurra1 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -403px;
  }
}
/* End Loader Section */
/* Start Menu Box */
.menu-box {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -800px;
  background-color: var(--white-color);
  width: 260px;
  height: 100vh;
  z-index: 10000;
  transition: var(--main-transition);
}
.eng .menu-box {
  left: -800px;
  right: inherit;
}
@media (min-width: 991px) {
  .menu-box {
    display: none;
  }
}
.dark .menu-box {
  background-color: var(--bg-drak);
  box-shadow: 1px 5px 3px #ddd;
}
.eng .dark .menu-box {
  box-shadow: 0.5px 0px 0px #ddd;
}
.menu-box.open {
  right: 0;
}
.eng .menu-box.open {
  left: 0;
  right: inherit;
}
.menu-box .logo {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
.menu-box .menu-links {
  text-align: center;
  padding-top: 20px;
}
.menu-box .menu-links li {
  padding: 10px 0;
  margin: 10px 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
.menu-box .menu-links li a {
  font-size: 19px;
  font-weight: bold;
  color: black;
  transition: var(--main-transition);
}
.dark .menu-box .menu-links li a {
  color: var(--white-color);
}
.menu-box .menu-links li a:hover {
  color: var(--main-color);
}
/* End Menu Box */
/* Start Settings Menu */
.circular-menu {
  position: fixed;
  top: 55%;
  left: 1px;
  z-index: 500;
}
.ara .circular-menu {
  left: 30px;
  right: inherit;
}
.circular-menu .floating-btn {
  display: block;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
  color: var(--white-color);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}
.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
}
.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
}
.circular-menu .floating-btn > ion-icon {
  font-size: 1.3em;
  transition: transform 0.2s;
}
.circular-menu .floating-btn i {
  font-size: 25px;
}
.circular-menu:after {
  display: block;
  content: " ";
  width: 47px;
  height: 47px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  transition: all 0.3s ease;
}
.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}
.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}
.circular-menu .menu-item {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1em;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  transition: transform 0.3s ease, background 0.2s ease;
}
.circular-menu.active .menu-item {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.circular-menu .menu-item > ion-icon,
.circular-menu .menu-item i {
  font-size: 25px;
}
.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em, -7em, 0);
}
.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em, -6.3em, 0);
}
/* The other theme for this menu */
.circular-menu.circular-menu-left .floating-btn {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}
.circular-menu.circular-menu-left.active .floating-btn {
  background-color: var(--main-color);
  color: var(--white-color);
}
.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(3.2em, -2.7em, 0);
}
.ara .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(6em, -0.5em, 0);
}
.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.2em, 2.7em, 0);
}
.ara .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(4.8em, 2.7em, 0);
}
/* End Settings Menu */
/* Start header Section  */
.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 11px;
  background-color: var(--white-color);
  box-shadow: 0 1.2rem 3.2rem rgb(71 74 255 / 9%);
  z-index: 500;
}
.dark .header {
  background-color: var(--bg-drak);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}
@media (max-width: 1125px) {
  .header .container {
    width: auto;
  }
}
.logo {
  display: flex;
  align-items: center;
  color: var(--main-color);
}
.logo .logoIcon {
  font-size: 27px;
}
.logo h3 {
  font-size: 22px;
  margin-right: 10px;
}
.eng .logo h3 {
  margin-left: 10px;
  margin-right: inherit;
}
.header .links {
  display: flex;
  align-items: center;
  font-weight: bold;
}
@media (max-width: 1080px) {
  .header .links {
    display: none;
  }
}
.header li a {
  font-size: 16px;
  color: black;
  padding: 5px;
  transition: var(--main-transition);
}
.header li a:hover,
.dark .header li a:hover {
  color: var(--main-color);
}
.dark .header li a {
  color: var(--thrid-color);
}
/* Start Icon Dark Mode */
.headerBox {
  display: flex;
  align-items: center;
}
.toggleDark {
  position: relative;
  width: 72px;
  height: 36px;
  background-color: var(--main-color);
  border-radius: 100px;
  border: 1px solid transparent;
  cursor: pointer;
}
.toggleDark .icon {
  position: absolute;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: all var(--main-transition);
}
.toggleDark .sun {
  top: 5px;
  right: 5px;
}
.toggleDark .moon {
  top: 5px;
  left: 5px;
}
.toggleDark .flicker {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 27px;
  height: 27px;
  background-color: var(--white-color);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.toggleDark .flicker.open {
  transform: translateX(37px);
}
/* End Icon Dark Mode */
#menu {
  font-size: 3px;
  background-color: var(--main-color);
  color: var(--white-color);
  border: 1px solid transparent;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.eng #menu {
  margin-left: 15px;
  margin-right: inherit;
}
@media (min-width: 1080px) {
  #menu {
    display: none;
  }
}
/* End header Section  */
/* Start Landing Page */
.landing {
  height: 100vh;
  position: relative;
}
.landing .contentLanding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 30px;
}
.landing .contentLanding h3 {
  font-size: 29px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .landing .contentLanding h3 {
    font-size: 23px;
  }
}
.eng .landing .contentLanding h3 {
  font-size: 24px;
}
.landing .contentLanding h3 span {
  color: var(--main-color);
}
.landing .contentLanding p {
  margin-top: 5px;
  font-size: 20px;
  line-height: 1.9;
}
.eng .landing .contentLanding p {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .landing .contentLanding p {
    font-size: 17px;
  }
}
.btn {
  margin-top: 25px;
  cursor: pointer;
}
.btn a {
  background-color: var(--thrid-color);
  border: 2px solid transparent;
  color: var(--white-color);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
}
.btn a.active {
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}
.landing .iamgeLanding img {
  width: 390px;
  margin-top: 90px;
}
@media (max-width: 767px) {
  .landing .iamgeLanding img {
    width: 360px;
  }
}
@media (max-width: 300px) {
  .landing .iamgeLanding img {
    width: 200px;
  }
}
/* End Landing Page */
/* Start Number Section */
.number {
  padding: var(--padding) 0;
}
.number .number-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}
.number .number-box {
  background-color: var(--thrid-color);
  padding: 17px;
  border-radius: 15px;
  cursor: pointer;
}
.number .number-box .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 7px;
}
.number .number-box .icon-box i {
  color: var(--main-color);
  font-size: 28px;
}
.number .number-box .icon-box h3 {
  font-size: 17px;
  color: var(--main-color);
}
.number .number-box span {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 7px 0;
}
/* End Number Section */
/* Start Why Saber Web */
.why-saber {
  padding: var(--padding) 0;
}
.why-saber .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 991px) {
  .why-saber .container {
    flex-direction: column;
    gap: 40px;
  }
}
.why-saber .why-boxs {
  display: grid;
  gap: 30px;
  margin-top: 50px;
}
.why-saber .why-boxs .why-box {
  background-color: var(--thrid-color);
  border-radius: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
.why-saber .why-boxs .why-box:hover,
.why-saber .why-boxs .why-box.active {
  color: var(--white-color);
  background-image: linear-gradient(
    270deg,
    var(--main-color) 0%,
    var(--secondary-color) 100%
  );
}
.dark .why-saber .why-boxs .why-box,
.dark .work .work-boxs .work-box,
.dark .work .work-boxs .work-box::before {
  background-color: var(--bg-cards-color-dark);
}
.why-saber .why-boxs .why-box {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 20px;
}
.why-saber .why-boxs .why-box .icon-box i {
  font-size: 35px;
  color: var(--main-color);
  transition: var(--main-transition);
}
.why-saber .why-boxs .why-box:hover .icon-box i,
.why-saber .why-boxs .why-box.active i,
.why-saber .why-boxs .why-box:hover h3,
.why-saber .why-boxs .why-box.active h3 {
  color: var(--white-color);
}
.why-saber .why-boxs .why-box h3 {
  color: var(--main-color);
  margin-bottom: 10px;
  transition: var(--main-transition);
}
.why-saber .why-boxs .why-box p {
  max-width: 450px;
  line-height: 1.8;
}
@media (max-width: 991px) {
  .why-saber .why-boxs .why-box p {
    font-size: 13px;
  }
}
.why-saber .why-image img,
.work .work-image img,
.how-image img {
  width: 180px;
}
/* End Why Saber Web */
/* Start How Do We Work */
.work {
  padding: var(--padding) 0;
}
.work .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
@media (max-width: 991px) {
  .work .container {
    flex-direction: column;
  }
}
.work .work-boxs .work-box {
  position: relative;
  background-color: var(--thrid-color);
  margin: 25px 0;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
  z-index: 1;
}
.work .work-boxs .work-box.active,
.work .work-boxs .work-box:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.work .work-boxs .work-box > i {
  font-size: 25px;
  color: var(--white-color);
  background-color: var(--main-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  right: -22px;
}
.eng .work .work-boxs .work-box > i {
  left: -22px;
}
.work .work-boxs .work-box.active > i,
.work .work-boxs .work-box:hover > i {
  background-color: var(--white-color);
  color: var(--main-color);
}
.work .work-boxs .work-box::before {
  content: "";
  position: absolute;
  top: 29px;
  right: -28px;
  z-index: -1;
  width: 80px;
  height: 80px;
  background-color: var(--thrid-color);
  border-radius: 20px;
  transform: rotate(45deg);
  transition: var(--main-transition);
}
.eng .work .work-boxs .work-box::before {
  left: -28px;
}
@media (max-width: 870px) {
  .work .work-boxs .work-box::before {
    display: none;
  }
  .work .work-boxs .work-box > i {
    display: none;
  }
}
.work .work-boxs .work-box.active::before,
.work .work-boxs .work-box:hover::before {
  background-color: var(--main-color);
}
.work .work-boxs .work-box .work-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.work .work-boxs .work-box .work-icon i {
  font-size: 30px;
  color: var(--main-color);
}
.work .work-boxs .work-box.active .work-icon i,
.work .work-boxs .work-box:hover .work-icon i {
  color: var(--white-color);
}
.work .work-boxs .work-box .work-icon h3 {
  color: var(--main-color);
  font-size: 20px;
  margin-bottom: 10px;
}
.work .work-boxs .work-box.active h3,
.work .work-boxs .work-box:hover h3 {
  color: var(--white-color);
}
.work .work-boxs .work-box p {
  max-width: 650px;
  font-size: 16px;
  line-height: 1.8;
  margin-right: 30px;
}
.eng .work .work-boxs .work-box p {
  margin-right: inherit;
  margin-left: 30px;
}
/* End How Do We Work */
/* Start How do I register */
.register {
  padding: var(--padding) 0;
}
.register .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
@media (max-width: 1125px) {
  .register .container {
    flex-direction: column;
    gap: 50px;
  }
}
.register .how-boxs h3 {
  font-size: 25px;
  color: var(--main-color);
  margin-bottom: 20px;
  line-height: 1.8;
}
.register .how-boxs p {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 35px;
}
.register .how-box {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}
.register .how-boxs-numb {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.register .how-boxs-numb .how-box-numb {
  width: 45px;
  height: 45px;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
}
.register .how-box-numb-line {
  height: 40px;
  border: 1px solid var(--main-color);
  width: 0;
}
.register .how-box-numb-lineDashed {
  height: 40px;
  border: 1px dashed var(--main-color);
  width: 0;
}
.register .how-box-numb-line.active,
.register .how-box-numb-lineDashed.active {
  opacity: 0;
}
.register .how-boxs-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 15px;
  padding-block-start: 10px;
}
.register .how-boxs-content .how-box-content {
  height: 47px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .register .how-boxs-content .how-box-content {
    height: 44px;
    line-height: 1.8;
    font-size: 13px;
  }
}
/* End How do I register */
/* Start Our services Section */
.services {
  padding: var(--padding) 0;
}
.services .services-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
  margin-top: 50px;
}
.services .service-box {
  background-color: var(--thrid-color);
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  transition: var(--main-transition);
}
.dark .services .service-box,
.dark .blog .blog-box {
  background-color: var(--bg-cards-color-dark);
}
.services .service-box:hover {
  color: var(--white-color);
  background-image: linear-gradient(
    270deg,
    var(--main-color) 0%,
    var(--secondary-color) 100%
  );
  box-shadow: rgb(71 75 255 / 35%) 0px 4px 37px;
}
.services .service-box i {
  margin-top: 25px;
  color: var(--main-color);
  font-size: 55px;
}
.services .service-box:hover i {
  color: var(--white-color);
}
.services .service-box h3 {
  color: var(--main-color);
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
}
.services .service-box:hover h3 {
  color: var(--white-color);
}
.services .btn {
  margin: 25px auto !important;
}
/* End Our services Section */
/* Start Portfolio Section  */
.portfolio {
  padding: var(--padding) 0;
}
.portfolio .projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 70px;
}
.portfolio .project-box {
  background-color: var(--thrid-color);
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  transition: var(--main-transition);
}
.dark .portfolio .project-box,
.dark .testimonials .testimonial-box,
.dark .team .team-box {
  background-color: var(--bg-cards-color-dark);
}
.portfolio .project-box:hover,
.testimonials .testimonial-box:hover,
.team .team-box:hover,
.testimonials .testimonial-box.active {
  color: var(--white-color);
  box-shadow: rgb(71 75 255 / 35%) 0px 4px 37px;
  background-image: linear-gradient(
    270deg,
    var(--main-color) 0%,
    var(--secondary-color) 100%
  );
}
.portfolio .project-box img {
  width: 330px;
  height: 200px;
  margin-top: 10px;
  border-radius: 30px;
  border: 3px solid var(--main-color);
}
@media (max-width: 1125px) {
  .portfolio .project-box img {
    width: 290px;
  }
}
@media (max-width: 767px) {
  .portfolio .project-box img {
    width: 260px;
  }
}
.portfolio .project-box:hover img,
.testimonials .testimonial-box.active img {
  border-color: var(--thrid-color);
}
.portfolio .project-box h3 {
  color: var(--main-color);
  margin-top: 20px;
  line-height: 1.8;
  font-size: 16px;
}
.portfolio .project-box:hover h3,
.team .team-box:hover h3 {
  color: var(--white-color);
}
.portfolio .project-box h4 {
  color: var(--main-color);
  margin-top: 20px;
}
.portfolio .project-box:hover h4 {
  color: var(--white-color);
}
.portfolio .project-box .tools {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}
.portfolio .project-box .tools a {
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: bold;
  padding: 11px;
  border-radius: 20px;
}
.portfolio .project-box:hover .tools a {
  background-color: var(--thrid-color);
  color: var(--main-color);
}
.dark .portfolio .prev {
  padding-right: 10px;
}
.dark .portfolio .next {
  padding-left: 10px;
}
/* End Portfolio Section  */
/* Start Team Section */
.team {
  padding: var(--padding) 0;
}
.team .team-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  margin-top: 60px;
}
.team .team-box {
  background-color: var(--thrid-color);
  border-radius: 30px;
  padding: 10px;
  transition: var(--main-transition);
  cursor: pointer;
}
.team .team-box img {
  width: 200px;
  height: 200px;
  border: 5px solid var(--main-color);
  border-radius: 30px;
  display: block;
  margin: 30px auto;
}
.team .team-box h3 {
  font-size: 16px;
  color: var(--main-color);
  text-align: center;
}
.team .team-box .rate {
  text-align: center;
  margin: 20px 0;
}
.team .team-box .social-media {
  display: flex;
  justify-content: center;
}
.team .team-box .social-media a i {
  font-size: 30px;
  color: var(--main-color);
  display: inline-block;
  margin: 10px 5px;
}
.team .team-box:hover .social-media a i {
  color: var(--thrid-color);
}
/* End Team Section */
/* Satrt Testimonials Section */
.testimonials {
  padding: var(--padding) 0;
}
.testimonials .testimonials-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
  margin-top: 60px;
}
@media (max-width: 991px) {
  .testimonials .testimonials-box {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
.testimonials .testimonial-box {
  position: relative;
  background-color: var(--thrid-color);
  border-radius: 30px;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
.testimonials .testimonial-box .quotIcon-left,
.testimonials .testimonial-box .quotIcon-right {
  position: absolute;
  font-size: 70px;
  color: var(--main-color);
}
.testimonials .testimonial-box .quotIcon-left {
  bottom: 3px;
  left: 10px;
}
.testimonials .testimonial-box:hover .quotIcon-left,
.testimonials .testimonial-box:hover .quotIcon-right,
.testimonials .testimonial-box.active .quotIcon-left,
.testimonials .testimonial-box.active .quotIcon-right {
  color: var(--white-color);
}
.testimonials .testimonial-box .quotIcon-right {
  top: 3px;
  right: 10px;
}
.testimonials .testimonial-box .testimonial-profile {
  text-align: center;
  padding: 30px;
}
.testimonials .testimonial-box h3 {
  color: var(--main-color);
  font-size: 17px;
  margin: 10px 0;
  font-weight: bold;
}
.testimonials .testimonial-box:hover h3,
.testimonials .testimonial-box.active h3 {
  color: var(--thrid-color);
}
.testimonials .testimonial-box p {
  margin: 10px 0;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 600;
}
.rate .filled {
  color: var(--main-color);
  cursor: pointer;
}
.testimonials .testimonial-box:hover .rate .filled,
.team .team-box:hover .rate .filled,
.testimonials .testimonial-box.active .rate .filled {
  color: var(--thrid-color);
}
.testimonials img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid var(--main-color);
}
.testimonials .testimonial-box:hover img,
.team .team-box:hover img {
  border-color: var(--thrid-color);
}
/* End Testimonials Section */
/* Start prices Section */
.prices {
  padding: calc(var(--padding) + 60px) 0;
}
.prices .container {
  margin-top: 80px;
}
.year-price {
  display: block;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  border-bottom: 3px solid var(--main-color);
  width: fit-content;
  margin: 50px auto 100px;
  padding: 10px 0;
  text-align: center;
}
.year-price .month {
  border-bottom: 3px solid var(--thrid-color);
  padding: 5px 10px 4px 0;
}
.eng .year-price .month {
  padding: 5px 0 4px 10px;
}
.prices .prices-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 30px;
}
.prices .price-box {
  position: relative;
  background-color: var(--thrid-color);
  padding: 20px;
  border-radius: 20px;
  transition: var(--main-transition);
  margin-bottom: 50px;
  cursor: pointer;
}
.dark .prices .price-box,
.dark .number .number-box {
  background-color: var(--bg-cards-color-dark);
}
.prices .active-box,
.prices .price-box:hover,
.dark .prices .active-box {
  background-color: var(--main-color);
  box-shadow: rgb(71 75 255 / 35%) 0px 4px 37px;
}
.prices .price-box::after {
  content: "";
  position: absolute;
  top: -36px;
  left: calc(50% - 50px);
  z-index: -1;
  width: 100px;
  height: 100px;
  background-color: var(--thrid-color);
  border-radius: 25px;
  transform: rotate(45deg);
  transition: var(--main-transition);
}
.prices .active-box::after,
.prices .price-box:hover::after,
.dark .prices .price-box:hover::after,
.dark .prices .active-box::after {
  background-color: var(--main-color) !important;
}
.dark .prices .price-box::after {
  background-color: var(--bg-cards-color-dark);
}
.prices .price-box i {
  position: absolute;
  left: 44%;
  top: -22px;
  font-size: 45px;
  color: var(--main-color);
}
.prices .active-box i,
.prices .price-box:hover i {
  color: var(--white-color);
}
.prices .price-box h3 {
  color: var(--main-color);
  font-size: 20px;
  text-align: center;
  margin: 40px 0;
}
.prices .active-box h3,
.prices .price-box:hover h3 {
  color: var(--white-color);
}
.prices .price-box ul {
  padding: 10px;
  margin-bottom: 30px;
}

.prices .price-box ul li {
  position: relative;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
}
.prices .active-box ul li,
.prices .price-box:hover ul li {
  color: var(--white-color);
}
.prices .price-box ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--main-color);
  padding-left: 10px;
}
.eng .prices .price-box ul li::before {
  padding-right: 10px;
}
.prices .active-box ul li::before,
.prices .price-box:hover ul li::before {
  content: "\f058";
  color: var(--white-color);
}
.prices .price-box span {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
}
.prices .active-box span,
.prices .price-box:hover span {
  color: var(--white-color);
}
.prices .price-box .btn,
.services .btn {
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: bold;
  border-radius: 30px;
  padding: 10px;
  display: block;
  width: fit-content;
  margin: 40px auto 20px;
  cursor: pointer;
}
.prices .price-box .btn.active,
.prices .price-box:hover .btn,
.services .service-box:hover .btn {
  background-color: var(--white-color);
  color: var(--main-color);
}
/* End prices Section */
/* Start Download Section */
.download {
  /* background-color: #6d6ffb; */
}
.download .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .download .container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .download {
    padding: 50px 0;
  }
}
.download .down-content h3 {
  color: var(--main-color);
  font-size: 28px;
}
.download .down-content p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8;
  margin-top: 10px;
  max-width: 600px;
  margin-top: 15px;
}
.download .down-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
.download .down-btn div {
  background-color: var(--main-color);
  width: fit-content;
  padding: 5px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.download .down-btn div i {
  color: var(--white-color);
  font-size: 20px;
}
.download .down-btn div .content-btn {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}
.download .down-btn div .content-btn span {
  color: var(--white-color);
}
.download img {
  width: 350px;
}
@media (max-width: 991px) {
  .download img {
    width: 270px;
  }
  .download .down-btn {
    justify-content: center;
  }
}
/* End Download Section */
/* Start Blog Section */
.blog {
  padding: var(--padding) 0;
}
.blog .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 70px;
}
.blog .blog-box {
  background-color: var(--thrid-color);
  padding: 30px 20px;
  cursor: pointer;
}
.blog .blog-box .blog-box-image h4 {
  color: var(--main-color);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 17px;
}
.blog .blog-box .blog-box-image ion-icon {
  font-size: 150px;
  color: var(--main-color);
  display: block;
  margin: 0 auto;
}
.blog .blog-box .blog-box-text {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.blog .blog-box .blog-box-text .icon i {
  color: var(--main-color);
  font-size: 27px;
}
.blog .blog-box .blog-box-text .content h3 {
  color: var(--main-color);
  margin-bottom: 10px;
}
.blog .blog-box .blog-box-text .content span {
  font-weight: bold;
  font-size: 13px;
}
.dark .blog .blog-box .blog-box-text .content span {
  color: var(--thrid-color);
}
/* End Blog Section */
/* Start Contact Me Section */
.contact-me {
  padding: var(--padding) 0;
}

.contact-me .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .contact-me .container {
    flex-direction: column;
    gap: 30px;
  }
}
.contact-me form {
  margin-top: 100px;
}
.contact-me form .input-box {
  width: 100%;
  margin-bottom: 20px;
}
.contact-me form .input,
.contact-me form .message,
.contact-me form textarea {
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  padding: 10px 15px;
  outline: none;
  resize: none;
  margin-bottom: 10px;
}
.dark .contact-me form .input,
.dark .contact-me form .message,
.dark .contact-me form textarea {
  background-color: var(--bg-drak);
  color: var(--thrid-color);
}
.contact-me form .input::placeholder,
.contact-me form .message::placeholder,
.contact-me form textarea::placeholder {
  font-size: 15px;
  font-weight: bold;
  margin: 100px 0;
}
.dark .contact-me form .input::placeholder,
.dark .contact-me form .message::placeholder,
.dark .contact-me form textarea::placeholder {
  color: var(--main-color);
}
.contact-me .btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  margin-top: 1px;
  width: fit-content;
}
.contact-me .socialmedia h2 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--main-color);
  font-weight: bold;
}
.contact-me .socialmedia .links {
  display: flex;
  flex-direction: column;
}
.contact-me .socialmedia .links a {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  transition: 0.3s;
  cursor: pointer;
  direction: rtl;
}
.contact-me .socialmedia .links a:hover {
  color: var(--main-color);
}
.dark .contact-me .socialmedia .links a:hover {
  color: var(--thrid-color);
}
/* End Contact Me Section */
/* Start Footer Section */
.footer {
  padding: var(--padding) 0;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
}
.footer .title-footer {
  text-align: center;
}
.footer .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer .logo i {
  font-size: 35px;
}
.footer .logo h3 {
  font-size: 32px;
}
.footer .p-title p {
  color: var(--secondary-color);
  margin: 15px auto;
  line-height: 1.9;
}
.footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.footer .social-media i {
  color: var(--white-color);
  background-color: var(--main-color);
  border: 1px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--main-transition);
}
.footer .social-media i:hover {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.dark .footer .social-media i:hover {
  border-color: var(--thrid-color);
  color: var(--thrid-color);
}
.footer .links {
  text-align: center;
}
.title-links {
  color: var(--main-color);
  font-size: 25px;
  text-align: center;
}
.footer .links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}
.footer .links ul li a {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
  transition: var(--main-transition);
}
.footer .links ul li a:hover {
  color: var(--main-color);
}
.dark .footer .links ul li a:hover {
  color: var(--thrid-color);
}
.twasol {
  margin: 0 auto;
}
.footer .contac {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  padding: 15px;
}
.footer .contac i {
  font-size: 25px;
}
.footer .contac p {
  margin: 12px;
}
.footer .copy-right {
  margin-top: 80px;
  padding: 50px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--main-color);
}
@media (max-width: 991px) {
  .footer .copy-right {
    flex-direction: column;
    gap: 50px;
  }
}
.footer .copy-right .copyright {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .footer .copy-right .copyright {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .footer .copy-right .copyright {
    font-size: 12px;
  }
}
.footer form {
  position: relative;
}
@media (max-width: 991px) {
  .footer form {
    margin-bottom: -60px;
  }
}
.form-search input[type="search"],
.form-search input[type="submit"] {
  border-radius: 10px;
  cursor: pointer;
}
.dark .form-search input[type="search"] {
  background-color: transparent;
  color: var(--thrid-color);
}
.form-search input[type="search"]::placeholder {
  color: var(--main-color);
  font-weight: 600;
}
.form-search input[type="search"] {
  height: 60px;
  border: 2px solid var(--main-color);
  padding: 20px 20px 20px 95px;
}
.eng .form-search input[type="search"] {
  padding: 20px 95px 20px 20px;
}
.form-search input[type="submit"] {
  width: 80px;
  height: 40px;
  background-color: var(--main-color);
  color: white;
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
.eng .form-search input[type="submit"] {
  right: 10px;
  left: inherit;
}
/* End Footer Section */
/* STart Icon Scrool Top */
.icon-top {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  width: 47px;
  height: 47px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  cursor: pointer;
  animation: down 1.5s infinite;
  opacity: 0;
  transition: 1s;
}
.eng .icon-top {
  right: 30px;
  left: inherit;
}
@media (max-width: 767px) {
  .icon-top {
    display: none;
  }
}
.ara .icon-top {
  left: 30px;
  right: inherit;
}
.icon-top .iconsrccoltop i {
  font-size: 25px;
  color: var(--main-color);
}
@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
/* End Icon Scrool Top */
/* Start Made With Section  */
.made {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 767px) {
  .made {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .made {
    font-size: 12px;
  }
}
/* End Made With Section  */
